<%- include("partials/header"); -%>
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">
        About
    </h1>
    <p>
    Blog Bite is a website where generally blogs related to Finance, Technology and News are available for readers. The main objective is to help people easily gain knowledge by reading small blogs which are easy to read and understand. <br>
<br>The Blog Bite is mainly divided into 4 sections: <br>
<ul>
    <li>
        <strong>Technology Section:</strong> The section where you can read about Artificial Intelligence, Data Science, Data Visualization, Computer Programming, Information Systems, Network Security, Space Technology, Robotics Technology, Web Development, Database Management, Communication Technology, Information Technology, Space Technology, Robotics Technology, Superintelligence and more such field. 
    </li>
    <li>
        <strong>Finance section:</strong> The section where you can read about cryptocurrency, investments, security methods, stock market moves, Investment Banking, Corporate Finance, Public Accounting, Portfolio Management, Financial schemes, Financial Planning, Stock Broking, Risk Management, and many more things       
    </li>
    <li>
        <strong>News Section:</strong> The section where you can read about National, International and Local News, Political, Entertainment, Business, Sports News and many more to keep you updated with whatever is going around the globe.        
    </li>
    <li>
        <strong>General Section:</strong> The section where you can read about all the other topics except above
    </li>
</ul>
<strong>
    If you are Blogger or want to start your journey of writing blogs with us you are welcomed, <a href="/contact">contact us</a> to know how can your Blogs be published over Blog Bite.
</strong>


    </p>
<%- include("partials/footer"); -%>
