
<%- include("partials/header"); -%>

<div class="choice-head">
  <h4>Hi👋! <br> Lets start with the topic that interests you the most </h4>
</div>


<div class="card-deck" id="choice-card">
  <div class="card">
    <img src="https://bit.ly/3iiAPIq" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title"><a href="/home/finance" class="btn btn-primary btn-lg btn-block">Financial Blogs</a></h5>
      <p class="card-text">
        Read about cryptocurrency, investments, security methods, stock market moves, Investment Banking, Corporate Finance, 
        Public Accounting, Portfolio Management, Financial schemes, Financial Planning, Stock Broking, Risk Management, and many more things
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/8386434/pexels-photo-8386434.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><a href="home/technical" class="btn btn-primary btn-lg btn-block">Technical Blogs</a></h5>
      <p class="card-text">
      Read about Artificial Intelligence  , Data Science, Data Visualization, Computer Programming, Information Systems, Network Security,
       Space Technology, Robotics Technology, Web Development, Database Management, Communication Technology, Information Technology, 
       Space Technology, Robotics Technology, Superintelligence and more
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://bit.ly/3CaYuCt" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <a href="/home/news" class="btn btn-primary btn-lg btn-block">News Blogs</a></h5>
      <p class="card-text">
        Read about National, International and Local News, Political, Entertainment, Business, Sports News and 
        many more to keep you updated with whatever is going around the globe. 
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<div class="choice-head">
  <h4>
    Still confused😅, start with some  
    <a href="/home/general" class="btn btn-primary btn-lg "> General Blogs </a>  or  
    <a href="/home" class="btn btn-primary btn-lg "> Mixed blogs </a>
  </h4>
</div>
<br><br>

<%- include("partials/footer"); -%>
